<div class = "container profile-info">
	<div class="profile-pic">
		<img src=<%= pic %> alt="User's profile picture" style="width:200px;height:200px" >
	</div>
	<h3> <%= name %> </h3>
	<h4> @<%= username %> </h4>
	<% if(logged_in_user && !current_user) %>
		<% if me.following?(user)%>
			<a href = <%= "/user/#{username}/unfollow"%> , class = "btn following-button"><span>Following</span></a>
		<% else %>
			<a href = <%= "/user/#{username}/follow"%> class = " btn btn-default">Follow</a>
		<% end %>
	<% end %>

</div>

<div class="container tabs">
	<% if(current_user) %>
	<form role="form" action="/tweet" method="POST">
		<div class = "container tweet">
			<textarea class = "form-control tweet-text" name = "tweet_text" maxlength="140"></textarea>
			<button class = "btn btn-default tweet-button">Tweet</button>
			<p class="counter">140</p>
		</div>
	</form>
	<% end %>
	<div class = "container profile-tabs">
		<ul class = "nav nav-tabs profile-tabs">
			<li class = "active"> <a data-toggle="tab" href="#Tweets">Tweets</a></li>
			<li><a data-toggle="tab" href="#Following">Following(<%= user.following.length%>)</a></li>
			<li><a data-toggle="tab" href="#Followers">Followers(<%= user.leading.length%>)</a></li>
		</ul> 
		<div class="tab-content">
			<div id = "Tweets" class="tab-pane active" >
				<% tweets.reverse.each do |tweet| %>
					<div class = "tweet-list">
						<img class = "tweet_header" src=<%= pic %> alt="User's profile picture" style="width:40px;height:40px" >
						<h3 class = "tweet_header">@<%= User.find(tweet.user_id).username %></h3>
						<p>Posted on <%= tweet.created_at %></p>
						<p><%=tweet.text %></p>
					</div>
				<% end %>
			</div>
			<div id="Following" class = "tab-pane">	
				<% user.following.each do |followings| %>
					<div class = "follow_list">
						<img align = "middle" src=<%= User.find(followings).pic %> alt="User's profile picture" style="width:40px;height:40px" ><br>
						<a href=<%= "/user/#{followings.username}" %>>@<%=followings.username%></a>
					</div>
				<% end %>
			</div>
			<div id = "Followers" class = "tab-pane"> 
				<% user.leading.each do |leadings| %>
					<div class = "follow_list">
						<img align = "middle" src=<%= User.find(leadings).pic %> alt="User's profile picture" style="width:40px;height:40px" ><br>
						<a href=<%= "/user/#{leadings.username}" %>>@<%=leadings.username%></a>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<br>