<div class="jumbotron login">
	<h2 position = "top: 0px"style ="color: white">   Amauris F. | Chungyuk T. | Jonathan M. | Yoseph K. </h2>
	<h2 position = "top: 0px"style ="color: white">   Welcome to nanoTwitter! <br> Log in Below, or <a class = "signup-button" href ="/signup">Sign Up Here</a></h2>
	<form role="form" action="/login">
		<div class="form-group col-md-3">
			<label style ="color:white" for "username">Username</label>
			<input type="user" class = "form-control" name="username" placeholder="Enter Username">
		</div>
		<div class="form-group col-md-3">
			<label style ="color:white" for "password">Password</label>
			<input type="password" class = "form-control" name="password" placeholder="Enter Password">
		</div><br>
		<div class = "form-group ">
			<button type="submit" class="btn btn-default login_button">Log In</button>
		</div>
	</form>
	<h3 class= "forgotPass" style="color: white"> Forgot your password? <a class = "forgotPass-button" href ="/resetpassword">Click Here</a></h3> 
</div>
<h3 class = "tweet-count" align="middle"><%= Tweet.all.count%> Tweets and counting. <br>Take a look at what people are tweeting.</h3>
<div class = "tweet-scroll" style= "overflow-y: scroll; height: 500px">
<% 100.times do %>
	<% tweet_num = "tweet".concat(REDIS.get("tweets_queue_index")) %>
	<% if REDIS.hgetall(tweet_num) %>	
		<div class = "tweet-list" >
			<img class = "tweet_header" src=<%= REDIS.hget(tweet_num, "pic") %> alt="User's profile picture" style="width:40px;height:40px" >
			<h3 class = "tweet_header">@<%= REDIS.hget(tweet_num, "username") %></h3>
			<p>Posted on <%= REDIS.hget(tweet_num, "created_at") %></p>
			<p><%= REDIS.hget(tweet_num, "text") %></p>
		</div>
		<% REDIS.set("tweets_queue_index", (REDIS.get("tweets_queue_index").to_i + 1) % 100) %>
	<% end %>
<% end %> 
</div>
<br>